# NSK OS v0.3 - GRUB Multiboot2 Configuration
insmod all_video
insmod vbe
insmod vga
set gfxmode=1024x768x32,auto
set gfxpayload=keep

serial --unit=0 --speed=38400
terminal_input serial console
terminal_output serial console

set timeout=0
set default=0

menuentry "NSK OS v0.3" {
    multiboot2 /boot/kernel.bin
    boot
}
